pandas
numpy
emoji
nltk
gensim
tqdm
scikit-learn
imbalanced-learn
torch
torchvision
torchaudio
transformers
huggingface_hub
matplotlib
joblib
onnx
onnxruntime
onnxscript
seaborn
google-play-scraper
wordcloud
